<!-- Inicio Encabezado -->
<form>
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Gestion De Complejos</h4>
        </div>
        <!-- Fin Encabezado-->
        <div class="card-body form-steps">
          <div class="text-center pt-3 pb-4 mb-1">
            <h5>Crea tu Complejo</h5>
          </div>
          <!-- Datos Generales del complejo -->
          <aw-wizard
            [navBarLayout]="'large-empty-symbols'"
            class="nav nav-pills progress-bar-tab custom-nav"
          >
            <aw-wizard-step>
              <ng-template awWizardStepSymbol>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link rounded-pill active"
                    data-progressbar="custom-progress-bar"
                    id="pills-gen-info-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-gen-info"
                    type="button"
                    role="tab"
                    aria-controls="pills-gen-info"
                    aria-selected="true"
                  >
                    1
                  </button>
                </li>
              </ng-template>
              <div>
                <div class="text-center">
                  <h5>Datos Generales</h5>
                  <p class="text-muted">Complete los Datos Generales</p>
                </div>

                <div>
                  <div class="g-3">
                    <div class="text-center">
                      <div
                        class="profile-user position-relative d-inline-block mx-auto mb-2"
                      >
                        <img
                          src="assets/images/users/user-dummy-img.jpg"
                          class="rounded-circle avatar-lg img-thumbnail user-profile-image"
                          alt="user-profile-image"
                        />
                        <div
                          class="avatar-xs p-0 rounded-circle profile-photo-edit"
                        >
                          <input
                            id="profile-img-file-input"
                            type="file"
                            class="profile-img-file-input"
                            accept="image/png, image/jpeg"
                          />
                          <label
                            for="profile-img-file-input"
                            class="profile-photo-edit avatar-xs"
                          >
                            <span
                              class="avatar-title rounded-circle bg-light text-body"
                            >
                              <i class="ri-camera-fill"></i>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <label for="nombreComplejo" class="form-label"
                        >Nombre del Complejo</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="nombreComplejo"
                        placeholder="Ingrese Nombre de Complejo"
                        formControlName="nombreComplejo"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- wizard-tab -->
              <div class="d-flex align-items-start gap-3 mt-4">
                <button
                  type="button"
                  class="btn btn-primary btn-label right ms-auto nexttab nexttab"
                  data-nexttab="pills-info-desc-tab"
                  awNextStep
                >
                  <i
                    class="ri-arrow-right-line label-icon align-middle fs-16 ms-2 btn-primary"
                  ></i
                  >Ir al siguiente Paso
                </button>
              </div>
            </aw-wizard-step>

            <!-- Datos de Ubicacion de Complejo -->
            <aw-wizard-step>
              <ng-template awWizardStepSymbol>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link rounded-pill"
                    data-progressbar="custom-progress-bar"
                    id="pills-info-desc-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-info-desc"
                    type="button"
                    role="tab"
                    aria-controls="pills-info-desc"
                    aria-selected="false"
                  >
                    2
                  </button>
                </li>
              </ng-template>
              <div class="text-center">
                <h5>Direccion del Complejo</h5>
                <p class="text-muted">
                  Complete los datos de Direccion del complejo
                </p>
              </div>

              <div>
                <div class="row g-3">
                  <div class="col-md-5">
                    <label for="Calle" class="form-label">Calle</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Calle"
                      placeholder="Nombre Calle"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="numCalle" class="form-label">Numero </label>
                    <input
                      type="number"
                      class="form-control"
                      id="numCalle"
                      placeholder="1234"
                    />
                  </div>

                  <div class="col-md-5">
                    <label for="cp" class="form-label">Codigo Postal</label>
                    <input
                      type="number"
                      class="form-control"
                      id="cp"
                      placeholder="1234"
                    />
                  </div>

                  <div class="col-md-4">
                    <label for="dpto" class="form-label">Departamento</label>
                    <input
                      type="text"
                      class="form-control"
                      id="dpto"
                      placeholder="Nombre Departamento"
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="barrio" class="form-label">Barrio</label>
                    <input
                      type="text"
                      class="form-control"
                      id="barrio"
                      placeholder="Nombre Barrio"
                    />
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-start gap-3 mt-4">
                <button
                  type="button"
                  class="btn btn-link text-decoration-none btn-label previestab"
                  data-previous="pills-gen-info-tab"
                  awPreviousStep
                >
                  <i
                    class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                  ></i>
                  Volver a Datos Generales
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-label right ms-auto nexttab nexttab"
                  data-nexttab="pills-success-tab"
                  awNextStep
                >
                  <i
                    class="ri-arrow-right-line label-icon align-middle fs-16 ms-2 btn-primary"
                  ></i
                  >Ir al siguiente Paso
                </button>
              </div>
            </aw-wizard-step>

            <!-- Datos de Pago del Complejo -->
            <aw-wizard-step>
              <ng-template awWizardStepSymbol>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link rounded-pill"
                    data-progressbar="custom-progress-bar"
                    id="pills-success-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-success"
                    type="button"
                    role="tab"
                    aria-controls="pills-success"
                    aria-selected="false"
                  >
                    3
                  </button>
                </li>
              </ng-template>
              <div class="text-center">
                <h5>Medio de Facturacion</h5>
                <p class="text-muted">Complete los datos de Facturacion</p>
              </div>
              <div class="d-flex align-items-start gap-3 mt-4">
                <button
                  type="button"
                  class="btn btn-link text-decoration-none btn-label previestab"
                  data-previous="pills-gen-info-tab"
                  awPreviousStep
                >
                  <i
                    class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                  ></i>
                  Volver a Direccion
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-label right ms-auto nexttab nexttab"
                  data-nexttab="pills-success-tab"
                  awNextStep
                >
                  <i
                    class="ri-arrow-right-line label-icon align-middle fs-16 ms-2 btn-primary"
                  ></i
                  >Ir al siguiente Paso
                </button>
              </div>
            </aw-wizard-step>

            <!-- Datos de Facilidades del Complejo -->

            <aw-wizard-step>
              <ng-template awWizardStepSymbol>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link rounded-pill"
                    data-progressbar="custom-progress-bar"
                    id="pills-success-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-success"
                    type="button"
                    role="tab"
                    aria-controls="pills-success"
                    aria-selected="false"
                  >
                    4
                  </button>
                </li>
              </ng-template>
              <div class="text-center">
                <h5>Facilidades</h5>
                <p class="text-muted">
                  Seleccione las Facilidades del Complejo
                </p>
              </div>
              <div class="row text-center">
                <div class="col-md-3">
                  <div
                    class="form-check form-check-outline form-check-success mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formCheckBuffet"
                    />
                    <label class="form-check-label" for="formCheckMesas">
                      Tiene Buffet
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div
                    class="form-check form-check-outline form-check-success mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formCheckMesas"
                    />
                    <label class="form-check-label" for="formCheckMesas">
                      Tiene Mesas
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div
                    class="form-check form-check-outline form-check-success mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formCheckParrillas"
                    />
                    <label class="form-check-label" for="formCheckParilla">
                      Tiene Parrillas
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div
                    class="form-check form-check-outline form-check-success mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formCheckBanos"
                    />
                    <label class="form-check-label" for="formCheckBanos">
                      Tiene Baños
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div
                    class="form-check form-check-outline form-check-success mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="formCheckDuchas"
                    />
                    <label class="form-check-label" for="formCheckDuchas">
                      Tiene Duchas
                    </label>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-start gap-3 mt-4">
                <button
                  type="button"
                  class="btn btn-link text-decoration-none btn-label previestab"
                  data-previous="pills-gen-info-tab"
                  awPreviousStep
                >
                  <i
                    class="ri-arrow-left-line label-icon align-middle fs-16 me-2"
                  ></i>
                  Volver a Facturacion
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-label right ms-auto nexttab nexttab"
                  data-nexttab="pills-success-tab"
                  awNextStep
                >
                  <i
                    class="ri-arrow-right-line label-icon align-middle fs-16 ms-2 btn-primary"
                  ></i
                  >Finalizar
                </button>
              </div>
            </aw-wizard-step>

            <!-- Registrar complejo -->
            <aw-wizard-step>
              <ng-template awWizardStepSymbol>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link rounded-pill"
                    data-progressbar="custom-progress-bar"
                    id="pills-success-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-success"
                    type="button"
                    role="tab"
                    aria-controls="pills-success"
                    aria-selected="false"
                  >
                    5
                  </button>
                </li>
              </ng-template>
              <div>
                <div class="text-center">
                  <div class="mb-4">
                    <lord-icon
                      src="https://cdn.lordicon.com/lupuorrc.json"
                      trigger="loop"
                      colors="primary:#0ab39c,secondary:#695eef"
                      style="width: 120px; height: 120px"
                    ></lord-icon>
                  </div>
                  <h5>Felicitaciones !</h5>
                  <p class="text-muted">Tu Complejo fue registrado con exito</p>
                </div>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
</form>
