<form autocomplete="off" [formGroup]="formRegistrarComplejo">
  <div *ngIf="this.accionABMC == 'A'" class="container mt-5">
    <!--DATOS GENERALES-->

    <div class="row">
      <h5>Datos Generales</h5>
      <hr />
      <div class="col-md-5">
        <label for="nombreComplejo" class="form-label">Nombre del Complejo</label>
        <input type="text" class="form-control" id="nombreComplejo" placeholder="Ingrese Nombre de Complejo"
          formControlName="nombreComplejo" />
      </div>
    </div>

    <!--DATOS DIRECCION-->
    <div class="row">
      <h5>Domicilio</h5>
      <hr />
      <div class="col-md-5">
        <label for="Calle" class="form-label">Calle</label>
        <input type="text" class="form-control" id="Calle" placeholder="Nombre Calle" formControlName="nombreCalle" />
      </div>

      <div class="col-md-3">
        <label for="numCalle" class="form-label">Numero </label>
        <input type="number" class="form-control" id="numCalle" placeholder="1234" formControlName="numCalle" />
      </div>
      <div class="col-md-5">
        <label for="cp" class="form-label">Codigo Postal</label>
        <input type="number" class="form-control" id="cp" placeholder="1234" formControlName="cp" />
      </div>
      <div class="col-md-3">
        <label for="dpto" class="form-label">Departamento</label>
        <input type="text" class="form-control" id="dpto" placeholder="Nombre Departamento" formControlName="dpto" />
      </div>
      <div class="col-md-3">
        <label for="barrio" class="form-label">Barrio</label>
        <input type="text" class="form-control" id="barrio" placeholder="Nombre Barrio" formControlName="barrio" />
      </div>
    </div>

    <!--Datos Facturacion-->
    <div class="row">
      <h5>Facturacion</h5>
      <hr />
    </div>

    <!--Datos Facilidades-->
    <div class="row">
      <h5>Facilidades</h5>
      <hr />
      <div class="col-md-5">
        <div class="form-check form-check-outline form-check-success mb-3">
          <input class="form-check-input" type="checkbox" id="formCheckBuffet" formControlName="buffet" />
          <label class="form-check-label" for="formCheckBuffet">
            Tiene Buffet
          </label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-check form-check-outline form-check-success mb-3">
          <input class="form-check-input" type="checkbox" id="formCheckMesas" formControlName="mesas" />
          <label class="form-check-label" for="formCheckMesas">
            Tiene Mesas
          </label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-check form-check-outline form-check-success mb-3">
          <input class="form-check-input" type="checkbox" id="formCheckParrillas" formControlName="parrillas" />
          <label class="form-check-label" for="formCheckParillas">
            Tiene Parrillas
          </label>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-check form-check-outline form-check-success mb-3">
          <input class="form-check-input" type="checkbox" id="formCheckBanos" formControlName="banos" />
          <label class="form-check-label" for="formCheckBanos">
            Tiene Baños
          </label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-check form-check-outline form-check-success mb-3">
          <input class="form-check-input" type="checkbox" id="formCheckDuchas" formControlName="duchas" />
          <label class="form-check-label" for="formCheckDuchas">
            Tiene Duchas
          </label>
        </div>
      </div>
    </div>

    <!--end col-->
    <div class="col-lg-12">
      <div class="hstack gap-2 justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="formRegistrarComplejo.invalid">
          Updates
        </button>
        <button type="button" class="btn btn-soft-success">
          Cancel
        </button>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</form>

<!-- FORMULARIO DE CONSULTA COMPLEJO-->

