<form autocomplete="off" [formGroup]="formularioRegistrarCancha" (ngSubmit)="registrarCancha()">
    <div *ngIf="this.accionABMC == 'A'" class="container mt-5">
      <h1 style="text-align: center;">Registrar cancha</h1>
      <div class="row mb-3 justify-content-center">
        <div class="col-md-8">

          <div class="mb-3">
            <!-- Deportes -->
            <label for="deporte" class="form-label color-text">Deporte</label>
            <select class="form-select" id="deporte" name="deporte" formControlName="deporte" (change)="getTiposCanchas($event)" [class.is-invalid]="deporteNoValido">
              <option disabled selected>Seleccione un deporte</option>
              <option *ngFor="let deporte of this.deportes" value="{{deporte.id_deporte}}">{{deporte.nombre}}</option>
            </select>
            <small *ngIf="deporteNoValido" class="text-danger">Seleccione un deporte</small>
          </div>

          <div class="mb-3">
            <!-- Tipos de cancha -->
            <label for="tipoCancha" class="form-label color-text">Tipo de cancha</label>
            <select class="form-select" id="tipoCancha" name="tipoCancha" formControlName="tipoCancha" [class.is-invalid]="tipoDeCanchaNoValida" >
              <option  value="{{0}}" disabled selected>Seleccione un tipo de cancha</option>
              <option  *ngFor="let tipoCancha of this.tiposCancha" value="{{tipoCancha.id_tipo_cancha}}">{{tipoCancha.descripcion}}</option>
            </select>
            <small  *ngIf="tipoDeCanchaNoValida" class="text-danger">Seleccione un tipo de cancha</small>
          </div>

          <div class="mb-3">
            <!-- Tipos de piso -->
            <label for="tipoPiso" class="form-label color-text">Tipo de piso</label>
            <select class="form-select" id="tipoCancha" name="tipoPiso" formControlName="tipoPiso" [class.is-invalid]="tipoDePisoNoValido" >
              <option disabled selected>Seleccione tipo de piso</option>
              <option  *ngFor="let tipoPiso of this.tiposPisos" value="{{tipoPiso.id_tipo_piso}}">{{tipoPiso.nombre}}</option>
            </select>  
            <small class="text-danger" *ngIf="tipoDePisoNoValido">Seleccione tipo de piso</small>
          </div>

          <div class="mb-3">            
            <label for="descripcion" class="form-label color-text">Descripción</label>
            <div class="form-floating">
              <textarea class="form-control" style="height: 100px" formControlName="descripcion" [class.is-invalid]="descripcionNoValida" ></textarea>
              <small *ngIf="descripcionNoValida" class="text-danger">Debe ingresar una descripcion</small>
            </div>
          </div>
            <!-- Cargar de imagenes -->
            <div class="mb-3">
              <label for="imagenCancha" class="form-label color-text">Cargar fotos de cancha</label>
              <input class="form-control" type="file" id="imagenCancha" (change)="capturarImagen($event)" formControlName="fotos"/>
              <small *ngIf="fotosNoValidas" class="text-danger">Debe ingresar al menos una imagen con formato <b>.png, .jpg o .jpeg</b></small>
            </div>
            
            <div class="imagenes" *ngIf="previzualizacion" formArrayName="fotos">
              <div class="mt-2 img" *ngFor="let file of this.archivos; let i = index">
                <img width="200px" height="200px" [src]="file" alt="">
                <button type="button" class="btn btn-outline-danger mt-1" (click)="eliminarImagen(i)">Eliminar imagen</button>
              </div>
            </div>  
        </div>  
        <div class="btnRegistrarCancha mt-3">
          <!-- Boton registrar cancha -->
          <button type="button" class="btn btn-outline-primary" (click)="cambiarPagina('C')">Regresar</button>
          <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Registrar cancha</button>
        </div>
      </div>
    </div>
</form>


<!-- ------------------------ FORMULARIO DE CONSULTA -------------------- -->


<div *ngIf="this.accionABMC == 'C'" class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-md-9">
            <h1 style="text-align: center;">Mis canchas</h1>
            <div class="consultarCancha">
                <h3>Mostrar canchas por</h3>
                <form  autocomplete="off" [formGroup]="formularioConsultarCancha">
                  <div class="row mb-3">
                    <div class="col-lg-3">
                      <label for="nameInput" class="form-label">Deporte</label>
                    </div>
                    <div class="col-lg-3">
                      <select (change)="consultarCanchasPorDeporte($event)"  class="form-select" aria-label=".form-select-sm example" formControlName="deporte">
                        <option value="{{0}}" disabled selected>Seleccione un deporte</option>
                        <option value="{{deporte.id_deporte}}" *ngFor="let deporte of this.deportes">{{deporte.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-3">
                      <label class="form-label">Tipo de cancha</label>
                    </div>
                    <div class="col-lg-3">
                      <select class="form-select" aria-label=".form-select-sm example" formControlName="tipoCancha" (change)="consultarCanchasPorTipoDeCancha($event)">
                        <option value="{{0}}" disabled selected>Seleccione un tipo de cancha</option>
                        <option value="{{tipoCancha.id_tipo_cancha}}" *ngFor="let tipoCancha of this.selectTipoCancha">{{tipoCancha.descripcion}}</option>
                      </select>
                    </div>
                  </div>
                </form>  
            </div>
            <div *ngIf="this.todasLasCanchas.length == 0" class="alert alert-warning text-center mt-3">
              <h4 class="alert-heading">No hay canchas registradas</h4>
            </div>
            <div *ngIf="this.todasLasCanchas.length > 0" class="table-responsive table-card mb-3">
              <table class="table mt-2 mb-0">
                  <thead>
                    <tr class="bg-light text-muted">
                      <th style="text-align: center;">Nro de cancha</th>
                      <th style="text-align: center;">Deporte</th>
                      <th style="text-align: center;">Tipo de cancha</th>
                      <th style="text-align: center;">Tipo de piso</th>
                      <th style="text-align: center;">Estado</th>
                      <th style="text-align: center">Disponibilidad</th>
                      <th style="text-align: center;">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let canchasComplejo of this.todasLasCanchas">
                      <td style="text-align: center;">{{canchasComplejo.id_cancha}}</td>
                      <td style="text-align: center;">{{canchasComplejo.tipoCancha.deporte.nombre}}</td>
                      <td style="text-align: center;">{{canchasComplejo.tipoCancha.descripcion}}</td>
                      <td style="text-align: center;">{{canchasComplejo.tipoPiso.nombre}}</td>
                      <td style="text-align: center;">{{canchasComplejo.estadoCancha.nombre_estado}}</td>
                      <td style="text-align: center;" *ngIf="canchasComplejo.esActivo" ><span class="badge rounded-pill bg-primary">Activa  </span></td>
                      <td style="text-align: center;" *ngIf="!canchasComplejo.esActivo"><span class="badge rounded-pill bg-danger">Inactiva</span></td>
                      <td style="text-align: center;">          
                        <div style="display: flex; justify-content: space-around">
                          <button type="button" class="btn btn-outline-info btn-icon waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalgrid" (click)="abrirModal(contenido, canchasComplejo)"><i class="ri-pencil-line"></i></button>
                          <button *ngIf="canchasComplejo.esActivo" type="button" class="btn btn-outline-danger btn-icon waves-effect waves-light" (click)="eliminarCancha(canchasComplejo.id_cancha)"><i class="ri-close-circle-line"></i></button>                        <!-- Grids in modals -->
                          <button *ngIf="!canchasComplejo.esActivo" type="button" class="btn btn-outline-primary btn-icon waves-effect waves-light" (click)="habilitarCancha(canchasComplejo)"><i class="ri-checkbox-circle-line"></i></button>
                        </div>
                        <ng-template class="modal fade" #contenido tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modificar cancha</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
                              </div>
                              <div class="modal-body">
                                <form autocomplete="off" [formGroup]="formularioModificarCancha" (ngSubmit)="modificarCancha(canchasComplejo)" >
                                  <div class="row g-3">
                                    <div class="col-xxl-6" style="display: flex; flex-direction: row; align-items: center;">
                                      <!-- Numero de cancha -->
                                        <div class="col-md-5">
                                          <label class="form-label">Numero de cancha</label>
                                        </div>
                                        <div class="col-md-1">
                                          <input type="text" class="form-control" formControlName="nroCancha">
                                        </div> 
                                    </div><!--end col Nro cancha-->
                                    <div class="col-xxl-6">
                                      <div>
                                          <label class="form-label">Tipo de cancha</label>
                                          <select class="form-select" name="tipoCancha" formControlName="idTipoCancha">
                                            <option  disabled selected>Seleccione un tipo de cancha</option>
                                            <option  *ngFor="let tipoCancha of this.todosTiposDeCancha" value="{{tipoCancha.id_tipo_cancha}}">{{tipoCancha.descripcion}}</option>
                                          </select>
                                          <small class="text-info">Seleccione si desea modificar el tipo de cancha, en caso contrario no seleccione</small>
                                      </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                      <div>
                                        <label class="form-label">Tipo de piso</label>
                                        <select class="form-select" name="id_tipo_piso" formControlName="id_tipo_piso">
                                          <option  disabled selected>Seleccione un tipo de piso</option>
                                          <option  *ngFor="let piso of this.todosTiposDePiso" value="{{piso.id_tipo_piso}}">{{piso.nombre}}</option>
                                        </select>
                                        <small class="text-info">Seleccione si desea modificar el tipo de piso, en caso contrario no seleccione</small>
                                      </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                      <div>
                                        <label class="form-label color-text">Descripción</label>
                                        <div class="form-floating">
                                          <textarea class="form-control" style="height: 100px" formControlName="descripcion"></textarea>          
                                          <small class="text-info">Modificar si desea cambiar la descripcion, en caso contrario no modifique</small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xxl-6">
                                      <div>
                                        <label class="form-label">Estado</label>
                                        <select class="form-select" formControlName="idEstado">
                                          <option  disabled selected>Seleccione un estado</option>
                                          <option  *ngFor="let estado of this.estadosCanchas" value="{{estado.id_estado_cancha}}">{{estado.nombre_estado}}</option>
                                        </select>
                                        <small class="text-info">Seleccione si desea cambiar el estado de la cancha, en caso contrario no seleccione</small>                                          
                                      </div>
                                    </div><!--end col-->
                                    <div class="col-lg-12">
                                      <div class="hstack gap-2 justify-content-end">
                                          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="cerrarModal()" >Cancelar</button>
                                          <button type="submit" class="btn btn-primary">Modificar cancha</button>
                                      </div>
                                    </div><!--end col-->
                                  </div><!--end row-->
                                </form>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </td> <!-- end-boton-modificar -->
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-success" (click)="cambiarPagina('A')" >+ Agregar cancha</button>
            </div>
        </div>
    </div>
</div>

