<form autocomplete="off" [formGroup]="formularioRegistrarCancha" (ngSubmit)="registrarCancha()">
    <div *ngIf="this.accionABMC == 'A'" class="container-fluid">
      <h1>Registrar cancha</h1>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="mb-3">
            <!-- Deportes -->
            <label for="deporte" class="form-label color-text">Deporte</label>
            <select class="form-select" id="deporte" name="deporte" formControlName="deporte" (change)="getTiposCanchas($event)" [class.is-invalid]="deporteNoValido">
              <option disabled selected>Seleccione un deporte</option>
              <option *ngFor="let deporte of this.deportes" value="{{deporte}}">{{deporte}}</option>
            </select>
            <small *ngIf="deporteNoValido" class="text-danger">Seleccione un deporte</small>
          </div>  
          <div class="mb-3">
            <!-- Tipos de cancha -->
            <label for="tipoCancha" class="form-label color-text">Tipo de cancha</label>
            <select class="form-select" id="tipoCancha" name="tipoCancha" formControlName="tipoCancha" [class.is-invalid]="tipoDeCanchaNoValida" >
              <option  value="{{0}}" disabled selected>Seleccione un tipo de cancha</option>
              <option  *ngFor="let tipoCancha of this.tiposDeportes" value="{{tipoCancha}}">{{tipoCancha}}</option>
            </select>
            <small  *ngIf="tipoDeCanchaNoValida" class="text-danger">Seleccione un tipo de cancha</small>
          </div>
          <div class="mb-3">
            <!-- Tipos de piso -->
            <label for="tipoPiso" class="form-label color-text">Tipo de piso</label>
            <select class="form-select" id="tipoCancha" name="tipoPiso" formControlName="tipoPiso" [class.is-invalid]="tipoDePisoNoValido" >
              <option disabled selected>Seleccione tipo de piso</option>
              <option  *ngFor="let tipoPiso of this.tiposPisos" value="{{tipoPiso}}">{{tipoPiso}}</option>
            </select>  
            <small class="text-danger" *ngIf="tipoDePisoNoValido">Seleccione tipo de piso</small>
          </div>  
          <div class="mb-3">            
            <label for="descripcion" class="form-label color-text">Descripción</label>
            <div class="form-floating">
              <textarea class="form-control" style="height: 100px" formControlName="descripcion" [class.is-invalid]="descripcionNoValida" ></textarea>
              <small *ngIf="descripcionNoValida" class="text-danger">Debe ingresar una descripcion</small>
            </div>
          </div>
        </div>  
        <div class="col-md-6">
          <!-- Cargar de imagenes -->
          <div class="mb-3">
              <label for="imagenCancha" class="form-label color-text">Cargar fotos de cancha</label>
              <input class="form-control" type="file" id="imagenCancha" (change)="capturarImagen($event)" formControlName="fotos"/>
              <small *ngIf="fotosNoValidas" class="text-danger">Debe ingresar al menos una imagen con formato <b>.png, .jpg o .jpeg</b></small>
          </div>
          <div class="imagenes" *ngIf="previzualizacion" formArrayName="fotos">
              <div class="mt-2 img" *ngFor="let file of this.archivos; let i = index">
                <img width="200px" height="200px" [src]="file" alt="">
                <button type="button" class="btn btn-outline-danger mt-1" (click)="eliminarImagen(i)">Eliminar imagen</button>
              </div>
          </div>  
        </div>
        <div class="btnRegistrarCancha mt-3">
          <!-- Boton registrar cancha -->
          <button type="button" class="btn btn-outline-primary" (click)="cambiarPagina('C')">Regresar</button>
          <button type="submit" class="btn btn-primary">Registrar cancha</button>
        </div>
      </div>
    </div>
</form>


<!-- ------------------------ FORMULARIO DE CONSULTA -------------------- -->


<div *ngIf="this.accionABMC == 'C'" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">Mis canchas</h1>
            <div class="consultarCancha">
                <h3>Mostrar canchas por</h3>
                <form  autocomplete="off" [formGroup]="formularioConsultarCancha">
                  <div class="row mb-3">
                    <div class="col-lg-3">
                      <label for="nameInput" class="form-label">Deporte</label>
                    </div>
                    <div class="col-lg-3">
                      <select (change)="obtenerDeporteParaConsultar($event)"  class="form-select" aria-label=".form-select-sm example" formControlName="deporte">
                        <option value={{0}} disabled selected>Seleccione un deporte</option>
                        <option value="{{deporte}}" *ngFor="let deporte of this.deportes; let i=index">{{deporte}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-3">
                      <label class="form-label">Tipo de cancha</label>
                    </div>
                    <div class="col-lg-3">
                      <select class="form-select" aria-label=".form-select-sm example" formControlName="tipoCancha" (change)="consultarCanchasPorDeporteYTipoCancha($event)">
                        <option value="{{0}}" disabled selected>Seleccione un tipo de cancha</option>
                        <option value="{{tipoCancha}}" *ngFor="let tipoCancha of this.selectTipoCancha">{{tipoCancha}}</option>
                      </select>
                    </div>
                  </div>
                </form>  
            </div>
            <div class="table-responsive table-card mb-3">
              <table class="table table-nowrap mb-0">
                  <thead class="table-ligth">
                    <tr>
                      <th scope="col" style="text-align: center;">Nro de cancha</th>
                      <th scope="col" style="text-align: center;">Deporte</th>
                      <th scope="col" style="text-align: center;">Tipo de cancha</th>
                      <th scope="col" style="text-align: center;">Estado</th>
                      <th scope="col" style="text-align: center;">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let canchasComplejo of this.todasLasCanchas; let i = index">
                      <td style="text-align: center;">{{canchasComplejo.idCancha}}</td>
                      <td style="text-align: center;">{{canchasComplejo.deporte}}</td>
                      <td style="text-align: center;">{{canchasComplejo.tipoCancha}}</td>
                      <td style="text-align: center;">{{canchasComplejo.estado}}</td>
                      <td style="text-align: center;">
                        <button type="button" class="btn btn-outline-danger" >Dar de baja</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-success" (click)="cambiarPagina('A')" >+ Agregar cancha</button>
            </div>
        </div>
    </div>
</div>

