<!-- Inicio Encabezado -->
<form>
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Eliminar Complejo</h4>
            </div>
            <!-- Fin Encabezado-->
            <div class="card-body">
                <div class="text-center pt-3 mb-1">
                    <h5>Eliminar Complejo</h5>
                    <h1 class="bx bx-trash"></h1>
                </div>
            
                <div class="text-center">
                    <label for="nombreComplejo" class="form-label"
                    >Ingrese ID de complejo</label
                    >
                    
                    <input
                    type="number"
                    class="form-control"
                    id="idComplejo"
                    placeholder="12345"
                    formControlName="idComplejo"
                    required
                    />
                </div>
                <div class="text-center pt-3 ">
                    <button
                        type="submit"
                        class="btn btn-primary btn-label right ms-auto nexttab nexttab"
                    >
                        <i
                            class="ri-arrow-right-line label-icon align-middle fs-16 ms-2 btn-primary"
                        ></i>
                        Eliminar
                    </button>
                </div>
            </div>
            <!-- Datos Generales del complejo -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
  </form>
  