<div class="profile-foreground position-relative mx-n4 mt-n4">
  <div class="profile-wid-bg">
      <img src="assets/images-win/perfil-fondo.jpg" alt="" class="profile-wid-img" />
  </div>
</div>
<div class="pt-4 mb-4 mb-lg-3 pb-lg-4">
  <div class="row g-4">
      <div class="col-auto">
          <div class="avatar-lg">
              <img src="assets/images-win/perfil-foto.png" alt="user-img" class="img-thumbnail rounded-circle" />
          </div>
      </div><!--end col-->
      <div class="col">
          <div class="p-2">
              <h3 class="text-white mb-1">{{clienteLogueado?.nombre}}</h3>
              <p class="text-white-75">{{clienteLogueado?.usuario?.perfil?.nombre}}</p>
              <div class="hstack text-white-50 gap-1">
                  <div class="me-2"><i class="ri-map-pin-user-line me-1 text-white-75 fs-16 align-middle"></i>Córdoba, Argentina</div>
              </div>
          </div>
      </div><!--end col-->
  </div><!--end row-->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="d-flex">
            <div>
                <div class="flex-shrink-0">
                    <a routerLink="/pages/profile-setting" class="btn btn-primary"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Información de perfil</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="ps-0" scope="row">Nombre y Apellido:</th>
                                    <td class="text-muted">{{clienteLogueado?.nombre}} {{clienteLogueado?.apellido}}</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Teléfono:</th>
                                    <td class="text-muted">{{clienteLogueado?.telefono}}</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">E-mail:</th>
                                    <td class="text-muted">{{clienteLogueado?.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Datos Jugador</h5>
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="ps-0" scope="row">Deporte:</th>
                                    <td class="text-muted">Fútbol</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Puesto:</th>
                                    <td class="text-muted">Volante</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
    </div>
</div>

